li.customize-control{
  position: relative;
}
li.customize-control hr{
  margin: 0 -20px 10px;
}
.accordion-sub-container li:last-child:before{
  display: none;
}
.accordion-sub-container li:last-child{
  margin-bottom: 0;
  padding-bottom: 0;
}
li.customize-control a.tooltip.hint--left{
  right: -10px !important;
}
.control-section-themes .accordion-section-title{
  margin: 0;
}
li[id*='group_title'] .tooltip{
  margin-top: 13px;
}
.group_title{
  background: #f7f7f7;
  margin: 10px -20px;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
}
.customize-control-radio-image .image.ui-buttonset label.ui-state-default span{
  display: block;
}
.customize-control-radio-image .image.ui-buttonset label.ui-state-default +input{
  display: none;
}
.customize-control-radio-image .image.ui-buttonset label.ui-state-default{
  padding: 3px 2px 2px;
  background-color: #999;
  margin-right: 15px;
  margin-bottom: 10px;
  height: auto;
  border: none !important;
  border-radius:0 !important;
}
.customize-control-radio-image .image.ui-buttonset label.ui-state-active,
.customize-control-radio-image .image.ui-buttonset label.ui-state-default:hover{
  background-color: #00a0d2 !important;
}
.customize-control-radio-image .image.ui-buttonset label.ui-state-default img{
  vertical-align: top;
}
.customize-control-description{
  font-weight: normal;
  margin-bottom: 10px;
}
.customize-control select{
  margin-bottom: 16px;
}
.select2-container{
  margin-bottom: 10px !important;
}
.customize-control-toggle .Switch{
  margin-top: -30px !important;
}
.customize-control input[type=email], .customize-control input[type=number], .customize-control input[type=password], .customize-control input[type=search], .customize-control input[type=tel], .customize-control input[type=text], .customize-control input[type=url]{
  margin-bottom: 8px;
}
.customize-control-background .actions, .customize-control-header .actions, .customize-control-image .actions, .customize-control-media .actions, .customize-control-upload .actions{
  margin-bottom: 10px;
}
.customize-control-radio-buttonset label {
  line-height: 1.5 !important;
}